
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html{
    height: auto;
    /*padding-left: 25px;
    padding-right: 25px;
    scroll-behavior: smooth;*/
    background-image: url(../Pics/TempBackground.jpg);
}

body{
    background-position:center;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    margin-top: 0;
}

.Wrapper{
width: 100%; /*change*/
min-height: 100vh; /*change*/
}

.Content{
    display: inline-block;
    margin-top: 35vh;
    margin-bottom: 50px;
    margin-left: 4%;
    width:80%;
    min-width:450px;
    max-height: 350px;
    position: fixed;
}
/*@media (max-width: 650px) {
    .Content {
        min-width:100%;
        background-color:#fff;
    }
}*/
.HeadingContainer{
 width: 90%;
 height: 75px;
 position: relative;
}
.HeadingContainer h1{
    font-size: 375%;
    font-weight: 400;
    color:whitesmoke;
}
/*@media (max-width: 1320px) {
    .HeadingContainer h1 {
        font-size: 375%;
        
    }
}*/

.DescriptionContainer{
text-align: left;
margin-top: -0.5%;
}

.DescriptionContainer p{
    font-size: large;
    line-height: 0.4;
    color:silver;
}

.skew-menu{
    text-align: center;
    float:right;
    margin: 0.1% 0.1% 0 0;
  }
  
  .skew-menu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: skew(-25deg);
  }
  
  .skew-menu ul li {
    background: #fff;
    float: left;
    border-right: 1px solid #eee;
    box-shadow: 0 .5px 2px rgba(1,1,1,1);
    text-transform: uppercase;
    color: #fff;/*non-hover text color*/
    font-weight: bolder;
    transition: all 0.3s linear;
    background-color: #58c;
    font-size: 75%;
  }
    
  .skew-menu ul li:first-child {
      border-radius: 7px 0 0 7px;
  }
    
  .skew-menu ul li:last-child {
      border-right: none;
      border-radius: 0 7px 7px 0;
  }
    
  .skew-menu ul li:hover {
      background: #2b5690; /*hover background color*/
      color: #7fff00; /*hover text color*/
  }
    
  .skew-menu ul li a {
      display: block;
      padding: 1em 2em;
      color: inherit;
      text-decoration: none;
      transform: skew(25deg);
  }
 
 

.FooterContainer{
    position: fixed;
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display:block;
}
.FooterContainer ul {
    padding:0;
    list-style: none;
}
.FooterContainer li {
    vertical-align: top;
    display: inline-flex;
}
.iconContainer{
    padding: 5px;
}
.social-icons a {
    color: #fff;
    text-decoration : none;
}
.social-icons li:hover{
    background-color: navy ;
}
.fa-github{
}
.fa-linkedin{
     
}
/*
header:
http://jsfiddle.net/gpz8avo6/1/
https://stackoverflow.com/questions/19761202/css3-transform-skew-one-side
*/
