
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/*
-on min-width, move social icons to side
-glow a-project links (like social icons)
*/
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html{
    height: 100%;
    /*padding-left: 25px;
    padding-right: 25px;
    scroll-behavior: smooth;*/
    margin-bottom: 0%;
    background-image: url(../Pics/TempBackground.jpg);
    background-size: cover;
}

body{
    background-position:center;
    overflow-x: hidden;
    /*height: 98vh;*/
    height: 90%;
    margin-top: 0;
    /*background-color: red;*/
}

.Wrapper{
width: 100%; /*change*/
min-height: 90%; /*change*/
/*background-color: coral;*/
}

.Content{
    width:100%;
    vertical-align: top;
    display: inline-block;
    margin-top: 1vh;
    /*position: fixed;  check*/
    position: relative;
    /*background-color: darkslategray;*/
    height: 700px;
}

.HeadingContainer{
    width: 100%;
    height: 45px;
    margin-top: -0.5px;
    position: relative;
    /*background-color: dodgerblue;*/
    text-align: center;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    color:#FFFFFF;
    
}

.TableContainer{
    /*background-color: goldenrod;*/
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    
}
table{
    margin-left: auto;
    margin-right: auto;
    /*background-color: green;*/
    border-spacing:0 50px;
    width: 50%;
    min-width: 400px;
    max-width: 650px;
    height: auto;
    
}   
tr{
    background-color: rgba(24, 50, 64, .7); 
    -webkit-box-shadow:0 0 8x rgb(212, 181, 106); 
    -moz-box-shadow: 0 0 8px rgb(212, 181, 106); 
    box-shadow:0 0 12px rgb(4, 38, 56);
}
td{
    border: 1px solid rgb(4, 38, 56);
    padding-bottom: 20px;
    padding-top: 20px;
}
.CellHeading{
    /*background-color: hotpink;*/
    width: 100%;
    text-align: left;
    margin-top: -20px;
    margin-bottom: -12px;
    display: inline-block;
}
.CellHeading h1{
    margin-left: 10px;
    font-size: 230%;
    /*background-color: lightseagreen;*/
    display: inline-block;
    font-weight: 15;
    
}
.Gitrepo{
    float: right;
    text-align: center;
    vertical-align: top;
    margin-top: 31px;
    margin-right: 18px;
   
}
.CellHeading a{
    text-decoration: none;
    color:ivory;
}
.CellHeading a:hover{
    text-decoration: none;
    color:rgb(212, 181, 106);
    transition: 0.4s;
}

.CellContent{
    /*ackground-color:powderblue;*/
    width: 100%;
    text-align: left;
    margin-top: -8px;
}
.CellContent p{
    margin-left: 10px;
    font-size: large;
    color:lightgray;
    font-weight: 300;
}
.StackContent
{
    margin-right: 18px;
}
.StackContent nav
{
    /*background-color:grey;*/
    width: 100%;
    margin-top: -8px;
}
.StackContent ul{
    list-style: none;
    margin-top: 0;
    /*background-color: lightpink;*/
    padding: 3px;
}
.StackContent li{
    /*background-color:lightgreen;*/
    float: right;
    padding-left: 2%;
}
.stack{
    font-weight: bold;
    color:gainsboro;
}
.stackdiv{
   vertical-align: top;
   text-align: center;
    text-decoration: none;
    padding-left: 5px;
}
.StackContent img{
    vertical-align: top;
    text-align: center;
    width:30px;
    height:30px;
}
.skew-menu{
    text-align: center;
    float:right;
    margin-top: 0.05%;
    margin-right: 0.55vw;
    /*margin-top: 530px;*/
  }
  
  .skew-menu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: skew(-35deg);
  }
  
  .skew-menu ul li {
    background: #fff;
    float: left;
    border-right: 1px solid #eee;
    box-shadow: 0 .5px 2px rgba(1,1,1,1);
    text-transform: uppercase;
    color: #fff;/*non-hover text color*/
    font-weight: 300;
    transition: all 0.3s linear;
    background-color: #477886;
    font-size: 75%;
  }
    
  .skew-menu ul li:first-child {
      border-radius: 0px 0px 0 0px;
  }
    
  .skew-menu ul li:last-child {
      border-right: none;
      border-radius: 0 0px 0px 0;
  }
    
  .skew-menu ul li:hover {
      background: #285D6C; /*hover background color*/
      color: #A3C0C8; /*hover text color*/
  }
    
  .skew-menu ul li a {
      display: block;
      padding: 1em 2em;
      color: inherit;
      text-decoration: none;
      transform: skew(25deg);
  }
 
 

  .FooterContainer{
    position: fixed;
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display:block;
}
.FooterContainer ul {
    padding:0;
    list-style: none;
    transition: all 0.5s ease;
}
.FooterContainer li {
    vertical-align: top;
    display: inline-flex;
    cursor: pointer;
    transition: all 0.5s ease;
}
.fa{
    transition: all 0.5s ease;
}
.iconContainer{
    padding: 5px;
}
.social-icons a {
    color: #fff;
    text-decoration : none;
}
.FooterContainer ul li:hover .fa-github{
    text-shadow:0 0 20px #3b5998;
    color: #A3C0C8;
}
.FooterContainer ul li:hover .fa-linkedin{
    text-shadow:0 0 20px #3b5998;
    color: #A3C0C8;
}

/*
header:
http://jsfiddle.net/gpz8avo6/1/
https://stackoverflow.com/questions/19761202/css3-transform-skew-one-side
*/
