
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html{
    height: auto;
    /*padding-left: 25px;
    padding-right: 25px;
    scroll-behavior: smooth;*/
    margin-bottom: 0%;
    background-image: url(../Pics/TempBackground.jpg);
}

body{
    background-position:center;
    overflow-x: hidden;
    height: 98vh;
    margin-top: 0;
    background-color: red;
}

.Wrapper{
width: 100%; /*change*/
min-height: auto; /*change*/
background-color: coral;
}

.Content{
    width:100%;
    vertical-align: top;
    display: inline-block;
    margin-top: 1vh;
    /*position: fixed;  check*/
    position: relative;
    background-color: darkslategray;
}

.HeadingContainer{
    width: 100%;
    height: 45px;
    margin-top: -1%;
    position: relative;
    background-color: dodgerblue;
    text-align: center;
    font-size: x-large;
}

.TableContainer{
    background-color: goldenrod;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
table{
    border-collapse: separate;
    margin-left: 25%;
    margin-right: 25%;
    background-color: green;
    border-spacing:0 4vh;
    margin-top: -0.5%;
}   
tr{

}
td{
    border: 1px solid red;
}
.CellHeading{
    background-color: hotpink;
    width: 100%;
    text-align: left;
    margin-top: -2%;
}
.CellHeading h1{
    margin-left: 2%;
    font-size: 190%;
}
.CellHeading a{
    text-decoration: none;
    color:black;
}
.CellHeading a:hover{
    text-decoration: none;
    color:darkslategrey;
}

.CellContent{
    background-color:powderblue;
    width: 100%;
    text-align: left;
    margin-top: -2%;
}
.CellContent p{
    margin-left: 2%;
}

.CellStacks{
    text-align: center;
    float:right;
    margin-top: 0.05%;
    margin-right: 0.55vw;
    /*margin-top: 530px;*/
  }
  
  .CellStacks ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: skew(-35deg);
  }
  
  .CellStacks ul li {
    background: #fff;
    float: left;
    border-right: 1px solid #eee;
    box-shadow: 0 .5px 2px rgba(1,1,1,1);
    text-transform: uppercase;
    color: #fff;/*non-hover text color*/
    font-weight: 300;
    transition: all 0.3s linear;
    background-color: #477886;
    font-size: 75%;
  }
    
  .CellStacks ul li:first-child {
      border-radius: 0px 0px 0 0px;
  }
    
  .CellStacks ul li:last-child {
      border-right: none;
      border-radius: 0 0px 0px 0;
  }
    
  .CellStacks ul li:hover {
      background: #285D6C; /*hover background color*/
      color: #A3C0C8; /*hover text color*/
  }
    
  .CellStacks ul li a {
      display: block;
      padding: 1em 2em;
      color: inherit;
      text-decoration: none;
      transform: skew(25deg);
  }

.skew-menu{
    text-align: center;
    float:right;
    margin-top: 0.05%;
    margin-right: 0.55vw;
    /*margin-top: 530px;*/
  }
  
  .skew-menu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: skew(-35deg);
  }
  
  .skew-menu ul li {
    background: #fff;
    float: left;
    border-right: 1px solid #eee;
    box-shadow: 0 .5px 2px rgba(1,1,1,1);
    text-transform: uppercase;
    color: #fff;/*non-hover text color*/
    font-weight: 300;
    transition: all 0.3s linear;
    background-color: #477886;
    font-size: 75%;
  }
    
  .skew-menu ul li:first-child {
      border-radius: 0px 0px 0 0px;
  }
    
  .skew-menu ul li:last-child {
      border-right: none;
      border-radius: 0 0px 0px 0;
  }
    
  .skew-menu ul li:hover {
      background: #285D6C; /*hover background color*/
      color: #A3C0C8; /*hover text color*/
  }
    
  .skew-menu ul li a {
      display: block;
      padding: 1em 2em;
      color: inherit;
      text-decoration: none;
      transform: skew(25deg);
  }
 
 

.FooterContainer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display:block;
    /*margin-top: 200px;
    background-color: darkturquoise;*/
}
.FooterContainer ul {
    padding:0;
    list-style: none;
    margin-top: 2%;
}
.FooterContainer li {
    vertical-align: top;
    display: inline-flex;
}
.iconContainer{
    padding: 5px;
}
.social-icons a {
    color: #fff;
    text-decoration : none;
}
.social-icons li:hover{
    background-color: navy ;
}
.fa-github{
}
.fa-linkedin{
     
}
/*
header:
http://jsfiddle.net/gpz8avo6/1/
https://stackoverflow.com/questions/19761202/css3-transform-skew-one-side
*/
